.link-button {
  border: 3px solid $button-black;
  width: 175px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $button-black;
  font-family: $header-font;
  font-size: 17px;
  transition: 250ms;
  &:hover {
    color: white;
    background: $button-black;
  }
}