.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}

.title-font {
  font-family: $title-font;
}

.header-font {
  font-family: $header-font;
}

.text-font {
  font-family: $text-font;
}

.fw-200 {
  font-weight: 200;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.container {
  padding: 0 6% 0 6%;
  @include respond(phone) {
    padding: 0;
  }
}

.vert-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horz-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}