@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Roboto+Condensed:wght@300;400&display=swap');

$header-font: 'Roboto Condensed', sans-serif;
$text-font: 'Cormorant', serif;

$nav-breakpoint: 690px;

$button-black: #373D3F;
$footer-black: #1B1C1D;
