@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Cormorant:wght@500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

$title-font: 'Boogaloo', cursive;
$header-font: 'Roboto Condensed', sans-serif;
$text-font: 'Cormorant', serif;

$nav-breakpoint: 690px;

$button-black: #373D3F;
$footer-black: #1B1C1D;

$box-shadow: 0 0 30px -5px hsla(0,0%,60.8%,.45);
