.footer-container {
  background: #1B1C1D;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 30px;
  padding: 50px 12.5% 60px 12.5%;

  @include respond(591px) {
    grid-template-columns: 1fr;
  }

  * {
    color: #dddddd;
  }
}

.footer-connect {
  p {
    margin: 0 0 2px 0;
  }
}

.footer-navigate {
  display: flex;
  flex-direction: column;
  .footer-link-container {
    max-width: 350px;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 1fr 1fr;
    a {
      text-decoration: none;
      color: $link-blue; 
      width: 110px;
      &:hover {
        color: $link-blue-hover;
      }
    }
  }
}

.icon-container {
  width: 150px;
  margin-top: 18px;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
}

.social-icon {
  transition: 250ms;
  path {
    color: #dddddd;
  }
  &:hover {
    cursor: pointer;
    path {
      color: #ffffff;
    }
  }
}