// Navbar
.navbar-container {
  height: 350px;
  overflow: hidden;
  position: relative;
  margin-bottom: 110px;
  @include respond(phone) {
    height: 200px;
    margin-bottom: 75px;
  }
}

.link-container {
  position: absolute;
  top: 12%;
  left: 50%;
  z-index: 1;
  width: 620px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: $header-font;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .02em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  border-radius: 15px;
  margin-left: -310px;
  @include respond(phone) {
    display: none;
  }
  a {
    font-family: $header-font;
    color: white;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
    }
  }
}

.nav-image {
  height: 500px;
  @include respond(phone) {
    height: 275px;
  }
}

// Nav Button
.menu-btn-container {
  position: fixed;
  bottom: 45px;
  right: 45px;
  z-index: 2;
  background: linear-gradient(to top right, #FC9D81, #CA4874);
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow;
  transition: 250ms;
  display: none;
  color: white;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  @include respond(phone) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.menu-btn-container.hide-btn {
  display: none;
}

// FULL PAGE NAV MENU
.nav-menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 3;
}
.nav-menu-overlay.hide-nav {
  display: none;
}

.full-page-nav {
  position: fixed;
  width: 75%;
  height: 100%;
  z-index: 4;
  background-color: white;
  overflow: hidden;
  opacity: 1;
}

.nav-menu-exit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 4;
  bottom: 45px;
  right: 45px;
  background: $footer-black;
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow;
  transition: 250ms;
  color: white;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.nav-menu-link-container {
  justify-content: space-around;
  height: 100%;
  padding: 70px 40px;
  a {
    display: table;
    margin-right: auto;
    text-decoration: none;
    background: $footer-black;
    color: #dddddd;
    font-family: $header-font;
    font-weight: 300;
    padding: 12px 22px;
    margin-bottom: 8px;
    width: inherit;
    &:hover {
      cursor: pointer;
      color: #ffffff;
    }
  }
}