
.show-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  width: 100%;
  max-width: 600px;
  padding: 15px 10px;
  box-shadow: $box-shadow;
  border-radius: 6px;
  @include respond(1275px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

.show-image-container {
  .show-image {
    max-width: 250px;
    border-radius: 6px;
    margin-right: 10px;
    object-fit: contain;
  }
  @include respond(1275px) {
    justify-self: center;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  h1, h2, h3, h4, p {
    margin: 0;
  }
  .show-title {
    font-family: $title-font;
    margin-bottom: 3px;
  }
  .show-date {
    font-family: $header-font;
    font-weight: 600;
    font-size: 0.85rem;
    vertical-align: bottom;
    margin-bottom: 10px;
  }
  .who-where {
    margin-bottom: 6px;
  }
  .hover-flip {
    transition: 200ms;
    text-decoration: underline;
    &:hover {
      color: white;
      background-color: $footer-black;
      cursor: pointer;
      padding-left: 2px;
      padding-right: 2px;
      transform: rotate(5deg);
    }
  }
  .venue-address {
    font-family: $header-font;
    font-weight: 400;
    font-size: 0.85rem;
    margin-left: 58.5px;
    margin-bottom: 9px;
  }
  @include respond(1275px) {
    .show-title {
      text-align: center;
    }
    .show-date {
      text-align: center;
      margin-bottom: 15px;
    }
    .who-where {
      margin-bottom: 12px;
    }
  }
}



