.av-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .av-p {
    margin: 15px 0 0 0;
    font-size: 1.1em;
  }
  @include respond(phone) {
    padding: 0px 10px 0px 10px;
  }
}


.av-media-container {
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 
    "youtube soundcloud"
    "instagram instagram";
  grid-gap: 30px;
  margin: 30px 0 60px 0;
  .av-youtube-player {
    grid-area: youtube;
    iframe {
      height: 425px;
      width: 100%;
    }
  }
  .av-soundcloud-playlist {
    grid-area: soundcloud;
  }
  .av-instagram {
    width: 100%;
    padding-bottom: 60px;
    background-color: rgb(250, 250, 250);
    grid-area: instagram;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      text-decoration: none;
      color: black;
      transition: 200ms;
      &:hover {
        color: rgb(100, 100, 100);
      }
    }
    hr {
      width: 325px;
      margin-bottom: 20px;
      border-top: 2px solid black;
      border-bottom: none;
      border-left: none;
      border-right: none;
    }
    .media-header {
      margin: 20px 0 5px 0;
    }
    .insta-grid {
      max-width: 935px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 28px;
      @include respond(1025px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }
      @include respond(720px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }
    }
    .post-container {
      position: relative;
      box-shadow: $box-shadow;
      height: 293px;
      width: 293px;
      img {
        height: 293px;
        width: 293px;
      }
      video {
        height: 293px;
        width: 293px;
      }
      .hover-overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        height: 100%;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $text-font;
        h4 {
          text-align: center;
          width: 90%;
        }
        &:hover {
          opacity: 1;
        }
      }
      .hover-overlay.video-o {
        height: 75%;
      }
    }
  }

  @include respond(1200px) {
    grid-template-areas: 
      "youtube" 
      "soundcloud"
      "instagram";
  }
  @include respond(phone) {
    padding: 0px 10px 0px 10px;
  }
}

.media-header {
  font-family: $header-font;
  margin: 5px 0 10px 0;
}
