.av-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .av-p {
    margin: 15px 0 0 0;
    font-size: 1.1em;
  }
  @include respond(phone) {
    padding: 0px 10px 0px 10px;
  }
}


.av-media-container {
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 
    "youtube soundcloud"
    "instagram instagram";
  grid-gap: 30px;
  margin: 30px 0 60px 0;
  a {
    text-decoration: none;
    color: black;
    transition: 200ms;
    &:hover {
      color: rgba(0, 0, 0, 0.75);
      filter: brightness(115%);
    }
  }
  .av-youtube-player {
    grid-area: youtube;
    position: relative;
    iframe {
      height: 425px;
      width: 100%;
    }
  }
  .av-soundcloud-playlist {
    grid-area: soundcloud;
    position: relative;
  }
  .media-head-icon {
    position: absolute;
    top: 3px;
    margin-left: 7px;
  }
  .av-instagram {
    $ig-gradient: linear-gradient(
      45deg, 
    #405DE6,
    #5851DB,
    #833AB4, 
    #C13584, 
    #E1306C,
    #FD1D1D, 
    #F56040, 
    #F77737,
    #FCAF45,
    #FFDC80
    );
    $ig-bg-color: rgb(250, 250, 250);
    width: 100%;
    padding-bottom: 60px;
    background-color: $ig-bg-color;
    grid-area: instagram;
    display: flex;
    flex-direction: column;
    align-items: center;
    .ig-username {
      background-color: #833AB4;
      background-image: $ig-gradient;
      background-size: 100%;
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-text-fill-color: transparent;
    }
    .ig-icon {
      margin-left: 6px;
    }
    hr {
      width: 325px;
      margin-bottom: 20px;
      border-top: 2px solid black;
      border-bottom: none;
      border-left: none;
      border-right: none;
    }
    .media-header {
      margin: 20px 0 5px 0;
    }
    .insta-grid {
      max-width: 965px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 28px;
      @include respond(1100px) {
        grid-template-columns: 1fr 1fr;
      }
      @include respond(720px) {
        grid-template-columns: 1fr;
      }
    }
    .post-container {
      position: relative;
      box-shadow: $box-shadow;
      border-radius: 7px;
      background-color: white;
      padding: 5px;
      height: 333px;
      width: 303px;
      img {
        height: 293px;
        width: 293px;
        border-radius: 7px;
      }
      video {
        height: 293px;
        width: 293px;
        border-radius: 7px;
      }
      .hover-overlay {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 7px;
        opacity: 0;
        height: 293px;
        width: calc(100% - 10px);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $text-font;
        h4 {
          text-align: center;
          width: 90%;
        }
        &:hover {
          opacity: 1;
        }
      }
      .hover-overlay.video-o {
        height: 225px;
        @include respond(phone) {
          pointer-events: none;
        }
      }
      .ig-post-link {
        width: 225px;
        height: 20px;
        padding-left: 4px;
        margin: 5px 0;
        font-family: $header-font;
        // color: $link-blue;
        transition: 200ms;
        font-size: 0.95em;
        background-color: #833AB4;
        background-image: $ig-gradient;
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        &:hover {
          filter: brightness(120%);
        }
      }
    }
  }

  @include respond(1200px) {
    grid-template-areas: 
      "youtube" 
      "soundcloud"
      "instagram";
  }
  @include respond(phone) {
    padding: 0px 10px 0px 10px;
  }
}

.media-header {
  font-family: $header-font;
  margin: 5px 0 10px 0;
}
