.band-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 75px;
  p {
    font-family: $text-font;
    font-size: 17px;
    letter-spacing: .01em;
    line-height: 1.67em;
    font-weight: bold;
  }
  .band-content--image {
    flex: 1;
    margin-right: 15px;
    min-width: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      margin: 0;
    }
    @include respond(tab-port) {
      order: 2;
    }
    @include respond(phone) {
      margin-right: 0;
    }
  }
  .band-content--text {
    margin-bottom: 30px;
    flex: 1;
    @include respond(phone) {
      padding: 0 5px;
    }
    .band-text--buttons {
      width: 100%;
      display: flex;
      flex-direction: row;
      width: 90%;
      a {
        margin-right: 15px;
      }
    }
  }
}