.home-text {
  font-family: $text-font;
  text-align: center;
  margin-bottom: 75px;
  width: 80%;
  font-size: 17px;
  letter-spacing: .01em;
  line-height: 1.67em;
  font-weight: bold;
  @include respond(phone) {
    width: 100%;
    padding: 0 10px;
  }
}

.button-container-home {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 125px;
  @include respond(tab-port) {
    width: 100%;
  }
  @include respond(phone) {
    width: 100%;
  }
  a {
    margin-bottom: 25px;
  }
}