.home-header-container {
  position: relative;
  margin-bottom: 50px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  .home-header-bg {
    background: linear-gradient(to top right, #FC9D81, #E34077);
    height: 35px;
    width: 320px;
    transform: rotate(-3deg) translate(24px, 8px) skew(-7deg)
  }
  .home-header {
    font-weight: normal;
    font-size: 2.5em;
    position: absolute;
    top: 0%;
    left: 18%;
    margin: 0;
  }
}



.home-text {
  width: 80%;
  font-family: $text-font;
  text-align: center;
  margin-bottom: 75px;
  font-size: 17px;
  letter-spacing: .01em;
  line-height: 1.67em;
  font-weight: bold;
}

.button-container-home {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 25px;
  a {
    margin-bottom: 25px;
  }
}