.show-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.message-container {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}