.show-card-container {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 45px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-bottom: 100px;
  @include respond(2140px) {
    grid-template-columns: 1fr 1fr;
  }
  @include respond(950px) {
    grid-template-columns: 1fr;
  }
}

.message-container {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  h2 {
    text-align: center;
  }
}