.studioContent {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  p {
    font-family: $text-font;
    font-size: 17px;
    letter-spacing: .01em;
    line-height: 1.67em;
    font-weight: bold;
  }
  .studioTextContent {
    margin-right: 15px;
    margin-bottom: 30px;
    flex: 1;
  }
  .studioImageContainer {
    flex: 1;
    min-width: 475px;
  }
  .studioParagraphs {
    margin-bottom: 30px;
  }
}

.listsContainer {
  background: linear-gradient(to top right, #FC9D81, #CA4874);
  color: $footer-black;
  padding-top: 20px;
  padding-bottom: 20px;
  @include respond(phone) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.equipmentLists {
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  h3 {
    font-family: $header-font;
  }
  p {
    font-family: $text-font;
  }
  .equipmentSection {
    flex: 1;
    min-width: 250px;
    margin-bottom: 10px;
    h3 {
      margin-bottom: 8px;
    }
    ul, li {
      list-style-type: none;
      list-style-position:inside;
      padding: 0;
      margin: 0;
    }
  }
}